body{
    background-color :#fadbd8 ;
     
}
#PersonalInformation{
    background-color : #ebedef ;
    border-style: groove;
    border-width: 8px;
}
#OrderDetails{
    background-color:#ebedef ;
   border-style: groove;
   border-width: 8px;

}
#foods {
    background-color:#ebedef ;
    border-style: groove;
    border-width: 8px;
   
}
#drinks {
    background-color:#ebedef  ;
    border-style: groove;
    border-width: 8px;

}
#desserts {
    background-color:#ebedef ;
    border-style: groove;
    border-width: 8px;
}
#SpecialInstructions {
    background-color: #ebedef ;
    border-style: groove;
    border-width: 8px;

}
#buttons{
    background-color:#ebedef  ;
    border-style: groove;
    border-width: 8px;
}
